 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,800&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to right, #8e2de2, #4a00e0);
}

.content {
  width: 266.48px;
  height: 498px;
  background-color: #2A2141;
  border-radius: 9.6px;
}

.content .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 38px;
}

.content .titles { 
    margin-left: 40px;
    margin-top: 29px;
    line-height: 30px;
}

.content .titles h1 {
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    color: #E1E1E6;
}

.content .titles p {
    font-size: 19px;
    color: #C4C4CC;  
    font-weight: 400;
}

.content .controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 29px 16px 0  16px;
}

.content .player {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 29px;
}

.content .timer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 39px 0 39px;
}

.content .timer p{
    font-size: 14px;
    color: #C4C4CC;
}

.signature {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.signature > img {
    text-align: center;
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ffbe0b;
    margin-top: 30px;
    margin-right: 20px;
}

.descr {
    margin-top: 26px;
}
.descr h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #F1F5F9;
    margin-bottom: -2px;
}

.descr p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 19px;
    color: #F1F5F9;
    text-transform: uppercase;
}
